<nav class="navbar navbar-expand-lg bg-light shadow-sm">
    <div class="container-fluid">
        <!-- Logo icon -->
        <a class="navbar-brand" href="/">
            iResale
        </a>
        <!-- Hamburger menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">
                        <i class="bi bi-bag"></i> מחודשים
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/sell">
                        <i class="bi bi-coin"></i> פרסם מודעה
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/board">
                        <i class="bi bi-card-list"></i> לוח מודעות
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
